header{
  font-family: 'Oswald', sans-serif;
}

.container-fluid{
  flex-wrap: wrap;
}

.carson{
  background-image: url(/carson-image.jpg);
  background-size: cover;
}

ul {
  list-style-type: none;
}

.rbs1{
  height: 65vh;
  width: 90vh;
}


.overflowHeight{
  height: 40vh;
}

@media (max-width: 576px) {
  .overflow{
    position: absolute;
  }

  .overflowOrder1{
    order: 1;
  }

  .overflowOrder2{
    order: 0;
  }

  .overflowMobileHeight{
    height: 75vh;
  }

  .overflowBottom{
    align-self: flex-end;
  }

  .overflowCenter{
    justify-content: center;
    padding-left: 75px;
  }
}
